body{
    height: 100vh;
}
.navbar-item{
    align-items:center;
    display: flex;
    position: relative;
}
.navbar-link{
    align-items:center;
    display:flex;
    cursor: pointer;
    position: relative;
}
.icon{
    padding-left:5px;
    padding-right:5px;
    width: 10px;
    height: 10px;
}
.mainDiv{
    display:flex;
    
}
